---
- name: Get distribution facts
  ansible.builtin.setup:
    gather_subset:
      - distribution

- name: Enable EPEL
  dnf:
    name: epel-release
  when:
    - ansible_distribution == 'Rocky'
    - ansible_distribution_major_version == '9'

- block:
    - name: Install Ceph rpm key
      ansible.builtin.rpm_key:
        key: "{{ os_manila_mount_ceph_repo_key }}"

    - name: Create Ceph repofile
      ansible.builtin.yum_repository:
        name: "{{ item.name }}"
        file: ceph
        description: "{{ item.description }}"
        baseurl: "{{ item.baseurl }}"
        gpgcheck: "{{ item.gpgcheck }}"
        gpgkey: "{{ os_manila_mount_ceph_repo_key }}"
        enabled: "{{ item.enabled }}"
        mode: o=rw,go=r
      loop: "{{ os_manila_mount_ceph_rpm_repos }}"

    - name: Install Ceph packages (dnf)
      dnf:
        name: "ceph-common-{{ os_manila_mount_ceph_version }}"
  when: ansible_distribution == 'Rocky'

- block:
    - block:
        - name: Install Ceph apt key
          ansible.builtin.apt_key:
            url: "{{ os_manila_mount_ceph_repo_key }}"

        - name: Install Ceph release repo (apt)
          ansible.builtin.apt_repository:
            repo: "deb {{ os_manila_mount_ceph_release_repo }} {{ ansible_distribution_release }} main"

      when: ansible_distribution_major_version == "22"

    - name: Install Ceph packages (apt)
      ansible.builtin.apt:
        name: "ceph-common"
        update_cache: true

  when: ansible_distribution == 'Ubuntu'
